@model MVCassignment1.Models.FeverCheckModel
@{
    ViewBag.Title = "FeverCheck";
    if (ViewBag.checkedC == "checked")
    {
        ViewBag.msg = ViewBag.msgC;
    }
    else if (ViewBag.checkedF == "checked")
    {
        ViewBag.msg = ViewBag.msgF;
    }
    else
    {
        ViewBag.checkedC = "checked";
    }
}
<h2>FeverCheck</h2>
<form action="@Url.Action("FeverCheck", "Home")" method="post">
    <input type="text" name="inputTemp" value="" placeholder="Enter your temp here" /><br />
    <input type="radio" name="scale" value="Celsius" @ViewBag.checkedC onclick="document.getElementById('temp').innerHTML = '@ViewBag.msgC'" /> Celsius
    <input type="radio" name="scale" value="Fahrenheit" @ViewBag.checkedF onclick="document.getElementById('temp').innerHTML = '@ViewBag.msgF'" /> Fahrenheit
    <input type="submit" value="Send" />
</form>
@if (ViewBag.msg != null)
{
    <h3><span id="temp">@ViewBag.msg  </span></h3>
}

